.fade-scale-leave-active,
.fade-scale-enter-active {
  transition: all .3s;
}
.fade-scale-enter {
  opacity: 0;
  transform: scale(1.2);
}
.fade-scale-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

.full {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

// 边距相关
$sizes: (0, 5, 10, 15, 20);

@for $index from 1 to 6 {
  .is-m-#{nth($sizes, $index)} { margin: #{nth($sizes, $index)}px !important; }
  .is-mt-#{nth($sizes, $index)} { margin-top: #{nth($sizes, $index)}px !important; }
  .is-mr-#{nth($sizes, $index)} { margin-right: #{nth($sizes, $index)}px !important; }
  .is-mb-#{nth($sizes, $index)} { margin-bottom: #{nth($sizes, $index)}px !important; }
  .is-ml-#{nth($sizes, $index)} { margin-left: #{nth($sizes, $index)}px !important; }

  .is-p-#{nth($sizes, $index)} { padding: #{nth($sizes, $index)}px !important; }
  .is-pt-#{nth($sizes, $index)} { padding-top: #{nth($sizes, $index)}px !important; }
  .is-pr-#{nth($sizes, $index)} { padding-right: #{nth($sizes, $index)}px !important; }
  .is-pb-#{nth($sizes, $index)} { padding-bottom: #{nth($sizes, $index)}px !important; }
  .is-pl-#{nth($sizes, $index)} { padding-left: #{nth($sizes, $index)}px !important; }
}
