.reader {
  height: 100%;
  .reader-info {
    line-height: 14px;
    font-size: 10px;
    background-color: #D9D9D9;
    color: #333;
    padding-left: 5px;
    padding-right: 5px;
  }
  .list {
    height: 100%;
    cursor: pointer;
    user-select: none;
    .row {
      color: #606266;
      pre {
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 18px;
      }
      .row-tree {}
      .row-info {
        .row-info-name {
          color: #303133;
          padding: 0 3px;
        }
        .row-info-ext {
          color: #909399;
          margin-left: -3px;
          padding-right: 3px;
        }
        .row-info-button {
          display: none;
          font-size: 12px;
          color: lighten(#458DF8, 30%);
          padding: 0 5px;
          &:hover {
            color: #FFF;
            background-color: darken(#458DF8, 20%);
          }
        }
        .row-info-note-pre {}
        .row-info-note {
          color: #1890FF;
        }
      }
      &:hover {
        background-color: #458DF8;
        color: #FFF;
        border-radius: 2px;
        .row-info {
          .row-info-name {
            color: #FFF;
            background-color: darken(#458DF8, 30%);
          }
          .row-info-ext {
            color: #FFF;
            background-color: darken(#458DF8, 30%);
          }
          .row-info-button {
            display: flex;
          }
          .row-info-note-pre {
            display: none;
          }
          .row-info-note {
            display: none;
          }
        }
      }
    }
  }
}